/* Blog & Archive */

.sticky {
	display: block;
}

.entry-meta {
	@extend .assistive-text;
}

.blog,
.archive {
	.hentry {
		margin-bottom: 1.5em;
		border-bottom: 1px solid $color__text-light;
		@media screen and ( min-width: $sm ) {
			margin-bottom: 3em;
			padding-bottom: 1.5em;
		}
		p {
			margin-bottom: 0.75em;
			&:last-of-type {
				margin-bottom: 1.5em;
			}
		}
	}
	.entry-title {
		margin-bottom: 13.5px;
		margin-bottom: 0.75rem;
		a {
			color: $color__headings;
		}
	}
}
